/* menu.styles.css */
.menu-container {
    display: flex;
    flex-direction: column;
    width: 60% ;
    height: 100px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    position: relative;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectables-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    width: 80%;
}

.option-box {
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-box:hover {
    background-color: #e0e0e0;
}

/* Media queries for responsive design */
@media (max-width: 980px) {
    .menu-container {
        z-index: 1;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        height: 50%;
    }

    .menu-options {
        width: 80%;
        height: 20%;
    }

    .menu-options.open {
        display: flex;
    }

    .option-box {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .selectables-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        width: 20%;
        height: 50%;
    }


    .randomizeButton {
        display: none;
    }
}

.randomizeButton {
    padding: 10px 20px;
    position: absolute;
    bottom: 30%; 
    outline: 1px solid #ccc;
    width: 200px;
}