.portrait {
    top: 5%;
    position: relative;
    background-color: lightcoral;
    width: 500px;
    height: 100%;
    border: 1px solid #000; /* Optional: Border for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Shadow for better visibility */
}

.portrait img {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 980px) {
    .portrait {
        width: 100%;
        height: 100%;
    }
    
    .portrait img {
        width: 100%;
        height: 100%;
    }
}


.mouth {
    bottom: -20%; /* Adjust this value to move the mouth up or down */
  }

  .eyes {
    bottom: 10%; /* Adjust this value to move the mouth up or down */
  }