.portrait {
    background-color: orange;
    width: 500px;
    height: 70%;
    align-self: center;
    margin-left: 5%;
}

@media screen and (max-width: 768px) {
    .portrait {
        width: 100%;
        height: 50%;
        
        align-self: center;
    }
    
}

